@page "/anime/{Slug}"
@using MediaDatabase.Dashboard.Data.Anime
@using MediaDatabase.Dashboard.Cache.Interfaces

@inject ICache<Anime> AnimeCache
@inject NavigationManager NavigationManager

@if (anime != null)
{
    <h1>@anime.Attributes.CanonicalTitle</h1>

    <div class="row">
        <div class="col-xl-3 col-xs-12">
            <RadzenCard Style="margin-bottom: 20px;">
                <div style="margin-top:20px">
                    <RadzenImage Path="@anime.Attributes.PosterImage.Small" Style="width: 100%; height: 100%"/>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div style="margin-top:20px">English Name:</div>
                        <b>@anime.Attributes.Titles.En</b>
                    </div>
                    <div class="col-6">
                        <div style="margin-top:20px">Start Date:</div>
                        <b>@anime.Attributes.StartDate</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div style="margin-top:20px">Japanese Name:</div>
                        <b>@anime.Attributes.Titles.En</b>
                    </div>
                    <div class="col-6">
                        <div style="margin-top:20px">End Date:</div>
                        <b>@anime.Attributes.EndDate</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <div style="margin-top:20px">Episode Count:</div>
                        <b>@anime.Attributes.EpisodeCount</b>
                    </div>
                </div>
            </RadzenCard>
        </div>
        <div class="col-xl-6 col-xs-12">
            <RadzenCard Style="margin-bottom: 20px;">
                <div style="margin-top:20px">Synopsis:</div>
                <b>@anime.Attributes.Synopsis</b>
            </RadzenCard>
        </div>
    </div>
}
else
{
    <p>
        <em>Loading...</em>
    </p>
}

@code {
    private Anime anime;

    [Parameter]
    public string Slug { get; set; }

    protected override async Task OnInitializedAsync()
    {
        anime = AnimeCache.Get().FirstOrDefault(x => x.Attributes.Slug == Slug);

        if (anime == null) NavigationManager.NavigateTo("/anime");
    }

}