@page "/manga/{Slug}"
@using MediaDatabase.Web.Data.Manga
@using MediaDatabase.Web.Services.Interfaces

@inject IEntityService<Manga> MangaService
@inject NavigationManager NavigationManager

@if (manga != null)
{
    <h1>@manga.Attributes.CanonicalTitle</h1>

    <div class="row">
        <div class="col-md-3">
            <RadzenCard Style="margin-bottom: 20px;">
                <div style="margin-top:20px">
                    <RadzenImage Path="@manga.Attributes.PosterImage.Small"/>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div style="margin-top:20px">English Name:</div>
                        <b>@manga.Attributes.Titles.En</b>
                    </div>
                    <div class="col-md-6">
                        <div style="margin-top:20px">Start Date:</div>
                        <b>@manga.Attributes.StartDate</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div style="margin-top:20px">Japanese Name:</div>
                        <b>@manga.Attributes.Titles.En</b>
                    </div>
                    <div class="col-md-6">
                        <div style="margin-top:20px">End Date:</div>
                        <b>@manga.Attributes.EndDate</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div style="margin-top:20px">Volume Count:</div>
                        <b>@manga.Attributes.VolumeCount</b>
                    </div>
                    <div class="col-md-6">
                        <div style="margin-top:20px">Chapter Count:</div>
                        <b>@manga.Attributes.ChapterCount</b>
                    </div>
                </div>
            </RadzenCard>
        </div>
        <div class="col-md-6">
            <RadzenCard Style="margin-bottom: 20px;">
                <div style="margin-top:20px">Synopsis:</div>
                <b>@manga.Attributes.Synopsis</b>
            </RadzenCard>
        </div>
    </div>
}
else
{
    <p>
        <em>Loading...</em>
    </p>
}

@code {
    private Manga manga;

    [Parameter]
    public string Slug { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var mangaList = await MangaService.Get();
        manga = mangaList.FirstOrDefault(x => x.Attributes.Slug == Slug);

        if (manga == null) NavigationManager.NavigateTo("/manga");
    }

}